:root {
    --menuColor: #716B3B;
    --titleColor: #3E4C81;
    --defaultTextColor: #686868;
    --buttonColor: #FCFCFC;
    --mainBG: #EBEBEB;

    // Typography
    --extraLargeText: 278px;
    --largeText: 24px;
    --mediumText: 16px;
    
}